/*
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/
:root {
  /*Colors*/
  --linear-gradient: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --grey-secondary: #757575;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/* header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: var(--linear-gradient);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header__title-container p {
  margin-top: 25px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__title-container .header__button {
  position: absolute;
  left: calc(50% - 115px);
  top: 305px;
  display: block;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*Shadow*/
  box-shadow: 0px 4px 8px 0px rgb(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s;
  color: var(--black);
}

.header__title-container .header__button:hover {
  transform: scale(1.09);
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 8px;
  background-image: url(../assets/icons/down-arrow.svg);
}

/* main */
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
  min-width: 320px;
}

/* section number one (currency) */
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 59px;
  padding-bottom: 64px;
  text-align: center;
}

.main-exchange-container__background-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.main-exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.main-exchange-container__title h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--warm-black);
  margin-bottom: 24px;
}

.main-exchange-container__title p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--grey-secondary);
  margin-bottom: 48px;
}

.main-tables-container {
  display: flex;
  height: 350px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin-left: 30px;
  margin-right: 30px;
}

.main-tables-container::-webkit-scrollbar {
  background-color: var(--soft-blue);
  height: 3px;
}
.main-tables-container::-webkit-scrollbar-thumb {
  background-color: var(--secondary-blue);
}

/* Table currency */
.main-currency-table {
  width: 40%;
  min-width: 235px;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  margin-right: 5px;
  scroll-snap-align: center;
}

.main-currency-table .main-currency-table__title {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: bold;
  color: var(--bitcoin-orange);
  margin-bottom: 15px;
}

.currency-table-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.currency-table-container .currency-table {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.currency-table td {
  width: 50%;
  background-color: var(--just-white);
}

.currency-table__row-left--top {
  border-radius: 15px 0 0 0;
}

.currency-table__row-right--top {
  border-radius: 0 15px 0 0;
}

.currency-table__row-left--botton {
  border-radius: 0 0 0 15px;
}

.currency-table__row-right--botton {
  border-radius: 0 0 15px 0;
}

.currency-table .currency-table__row-left {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #b5b0ac;
  text-align: start;
  padding: 10px;
}

.currency-table .currency-table__row-right {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: var(--grey-secondary);
}

.currency-table__row-right .currency-table__row-right-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table__row-right .currency-table__row-right-icon--down {
  background-image: url(../assets/icons/trending-down.svg);
}

.currency-table__row-right .currency-table__row-right-icon--up {
  background-image: url(../assets/icons/trending-up.svg);
}

.main-currency-table .currency-table__date {
  width: 190px;
  height: 30px;
  background-color: var(--soft-orange);
  margin: 0 auto;
  border-radius: 8px;
  padding: 8px;
}

.currency-table__date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
  font-weight: 400;
}

/* Table commissions */
.main-commissions-table {
  width: 40%;
  min-width: 235px;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  scroll-snap-align: center;
}

.main-commissions-table .main-commissions-table__title {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: bold;
  color: var(--secondary-blue);
  margin-bottom: 15px;
}

.commissions-table-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.commissions-table-container .commissions-table {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.commissions-table td {
  width: 50%;
  background-color: var(--just-white);
}

.commissions-table__row-left--top {
  border-radius: 15px 0 0 0;
}

.commissions-table__row-right--top {
  border-radius: 0 15px 0 0;
}

.commissions-table__row-left--botton {
  border-radius: 0 0 0 15px;
}

.commissions-table__row-right--botton {
  border-radius: 0 0 15px 0;
}

.commissions-table .commissions-table__row-left {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #b5b0ac;
  text-align: start;
  padding: 10px;
}

.commissions-table .commissions-table__row-right {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: var(--grey-secondary);
}

.main-commissions-table .commissions-table__date {
  width: 190px;
  height: 30px;
  background-color: var(--soft-blue);
  margin: 0 auto;
  border-radius: 8px;
  padding: 8px;
}

.commissions-table__date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
  font-weight: 400;
}

/* section number two (product detail) */
.main-product-detail-container {
  position: relative;
  width: 100%;
  min-width: 320px; /*pixelage minimo de los celulares*/
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}

.main-product-detail-container__icon-potato {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -12px;
  left: calc(50% - 20px);
  background-image: url(../assets/icons/batata.svg);
}

.product-detail-txt-container {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 44px;
  text-align: center;
}
.product-detail-txt-container__title {
  margin-bottom: 20px;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  color: var(--just-white);
}

.product-detail-txt-container__paragraph {
  margin-bottom: 30px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: #808080;
}

.product-detail-cards-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-detail-card {
  width: 90%;
  min-width: 288px;
  max-width: 450px; /*medida original 400px*/
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail-card__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail-card__icon--clock {
  background-image: url(../assets/icons/clock.svg);
}

.product-detail-card__icon--eye {
  background-image: url(../assets/icons/eye.svg);
}

.product-detail-card__icon--dolar-sign {
  background-image: url(../assets/icons/dollar-sign.svg);
}

.product-detail-card__icon--check-circle {
  background-image: url(../assets/icons/check-circle.svg);
}

.product-detail-card__title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
  margin-bottom: 15px;
}

.product-detail-card__paragraph {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

/* section number three (bitcoin img) */
.main-bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 70vh;
  background-image: url(../assets/img/bitcoinbaby2x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.main-bitcoin-img-container__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
  padding-top: 64px;
}

/* section number four (plans) */
.main-plans-cards-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.main-plans-cards-container-txt {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}

.main-plans-cards-container-txt__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
  margin-bottom: 20px;
}

.main-plans-cards-container-txt__paragraph {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--grey-secondary);
}

.plans-cards-container-slider {
  display: flex;
  height: 316px; /*debe ser mas grande que las tarjetas */
  overflow-x: scroll; /*Agrega el scroll al contenedor (feo)*/
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin-left: 30px;
  margin-right: 30px;
}

.plans-cards-container-slider::-webkit-scrollbar {
  background-color: var(--soft-orange);
  height: 3px;
}
.plans-cards-container-slider::-webkit-scrollbar-thumb {
  background-color: var(--bitcoin-orange);
}

.plans-card-container {
  position: relative;
  scroll-snap-align: center; /*centra la tarjeta auto para no dejar que quede a medias*/
  width: 65%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 50px 10px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
  transition: all 0.5s;
}

.plans-card-container:hover{
  transform: scale(1.05);
}

.plans-card-container__recommended-button {
  width: 120px;
  height: 31px;
  position: absolute;
  top: -15px;
  left: calc(50% - 60px);
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: var(--just-white);
  padding: 8px;
}

.plans-card-container__recommended-button--expert-plus {
  background-color: var(--bitcoin-orange);
}

.plans-card-container__recommended-button--expert {
  background-color: var(--secondary-blue);
}

.plans-card-container__recommended-button--basic {
  background-color: var(--warm-black);
}
.plan-card__title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #000000;
}

.plan-card__value {
  padding: 10px 0;
  font-family: "Inter", sans-serif;
  font-size: 5.3rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: #000000;
}

.plan-card__money-symbol {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--black);
  vertical-align: super;
}

.plan-card__paragraph {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--grey-secondary);
  margin-top: 10px;
}

.plan-card__button {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: #000000;
  cursor: pointer;
}

.plan-card__button:hover{
  background-color: var(--soft-orange);
}

.plan-card__button-icon-arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../assets/icons/orange-right-arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}

/* footer */
footer {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: var(--bitcoin-orange);
}

.main-nav-footer,
.main-logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.main-nav-footer-list {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}

.main-nav-footer-list__item {
  margin: 10px 0;
}

.main-nav-footer-list__link {
  text-decoration: none;
  color: var(--just-white);
}

.main-logo-footer__logo-batatabit {
  width: 90px;
  height: 90px;
}
