/*
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/
:root {
  /*Colors*/
  --linear-gradient: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --grey-secondary: #757575;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/* header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: var(--linear-gradient);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header__title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__title-container .header__button {
  position: absolute;
  left: calc(50% - 115px);
  top: 305px;
  display: block;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*Shadow*/
  box-shadow: 0px 4px 8px 0px rgb(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 8px;
  background-image: url(../assets/icons/down-arrow.svg);
}

/* main */
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
  min-width: 320px;
}

/* section number one (currency) */
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 59px;
  padding-bottom: 64px;
  text-align: center;
}

.main-exchange-container__background-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.main-exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.main-exchange-container__title h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--warm-black);
  margin-bottom: 24px;
}

.main-exchange-container__title p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--grey-secondary);
  margin-bottom: 48px;
}

/* Table currency */
.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  /*margin temporal*/
  margin-bottom: 48px;
}

.main-currency-table .main-currency-table__title {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: bold;
  color: var(--bitcoin-orange);
  text-align: left;
  margin-left: 10px;
  margin-bottom: 15px;
}

.currency-table-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.currency-table-container .currency-table {
  width: 100%;
  height: 100%;
}

.currency-table td {
  width: 50%;
  background-color: var(--just-white);
}

.currency-table__row-left--top {
  border-radius: 15px 0 0 0;
}

.currency-table__row-right--top {
  border-radius: 0 15px 0 0;
}

.currency-table__row-left--botton {
  border-radius: 0 0 0 15px;
}

.currency-table__row-right--botton {
  border-radius: 0 0 15px 0;
}

.currency-table .currency-table__row-left {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #b5b0ac;
  text-align: start;
  padding: 10px;
}

.currency-table .currency-table__row-right {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: var(--grey-secondary);
}

.currency-table__row-right .currency-table__row-right-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table__row-right .currency-table__row-right-icon--down {
  background-image: url(../assets/icons/trending-down.svg);
}

.currency-table__row-right .currency-table__row-right-icon--up {
  background-image: url(../assets/icons/trending-up.svg);
}

.main-currency-table .currency-table__date {
  width: 80%;
  min-width: 200px;
  max-width: 270px;
  height: 35px;
  border-radius: 8px;
  background-color: var(--soft-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0 auto;
}

/* Table commissions */
.main-commissions-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main-commissions-table .main-commissions-table__title {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: bold;
  color: var(--secondary-blue);
  text-align: left;
  margin-left: 10px;
  margin-bottom: 15px;
}

.commissions-table-container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.commissions-table-container .commissions-table {
  width: 100%;
  height: 100%;
}

.commissions-table td {
  width: 50%;
  background-color: var(--just-white);
}

.commissions-table__row-left--top {
  border-radius: 15px 0 0 0;
}

.commissions-table__row-right--top {
  border-radius: 0 15px 0 0;
}

.commissions-table__row-left--botton {
  border-radius: 0 0 0 15px;
}

.commissions-table__row-right--botton {
  border-radius: 0 0 15px 0;
}

.commissions-table .commissions-table__row-left {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #b5b0ac;
  text-align: start;
  padding: 10px;
}

.commissions-table .commissions-table__row-right {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: var(--grey-secondary);
}

.main-commissions-table .commissions-table__date {
  width: 80%;
  min-width: 200px;
  max-width: 270px;
  height: 35px;
  border-radius: 8px;
  background-color: var(--soft-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0 auto;
}
