/*
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/
:root {
  /*Colors*/
  --linear-gradient: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --grey-secondary: #757575;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/* header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: var(--linear-gradient);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header__title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header__title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__title-container .header__button {
  position: absolute;
  left: calc(50% - 115px);
  top: 305px;
  display: block;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*Shadow*/
  box-shadow: 0px 4px 8px 0px rgb(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 8px;
  background-image: url(../assets/icons/down-arrow.svg);
}

/* main */
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
  min-width: 320px;
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 59px;
  padding-bottom: 64px;
  text-align: center;
}

.main-exchange-container__background-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.main-exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.main-exchange-container__title h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: var(--warm-black);
  margin-bottom: 24px;
}

.main-exchange-container__title p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  color: var(--grey-secondary);
  margin-bottom: 48px;
}
